.main {
    width: 100%;
    height: 100vh;
    background-image: url("../img/main2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    filter: grayscale(80%);
}

img {
    width: 100%;
    height: auto;
}

.main h1 {
    color: white;
    font-size: 9rem;
    padding-top: 100px;
    font-weight: 100;

}

.main h2 {
    color: white;
    font-size: 5rem;
    font-weight: 100;
    padding-top: 30px;
}

#hours {
    display: block;
    position: absolute;
    left: 40px;
    bottom: 40px;
    text-align: left;
    font-weight: 100;
    font-size: .9rem;
    background-color: #000;
    color: white;
    padding: 7px;

}

@media (max-width: 868px) {
    .main h1 {
        font-size: 7rem;

    }

    .main h2 {
        font-size: 3.7rem;
    }
}

@media (max-width: 430px) {
    .main h1 {
        font-size: 5rem;
        padding-top: 120px;

    }

    .main h2 {
        font-size: 3rem;
    }
}